.create-passwors-form{
    
    width: 300px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    
    
}
 
.create_password_fields{
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.login-popup{
  margin: auto;
    width: 400px;
    height: fit-content;
    border-radius: 30px;
    opacity: 0.95;
    background: rgba(255, 255, 255, 0.27);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(3.6px);
}
.create-password-title{
  text-align: center;
padding-bottom: 30px;
}