
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .marksheet_label{
        margin-top: 30px;
        margin-bottom: 15px;
    }

.personal-data,.communication-data,.bank-data,.educational-data,.academic-data{
    padding: 0px clamp(20px,10vw,100px);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:20px;
    grid-row-gap: 35px;

}

.uploaded_file_name{
    margin-left: 30px;
    color: #1D242C;
}
.dropdown{
    border: none;
    background-color: rgba(199, 238, 255,0.5);
    height: 40px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}

input[type="date"]
{
    background-size: 25px 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: rgba(199, 238, 255,0.5);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0px 30px 0px 20px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}
input[type="radio"]{
    width:20px;
    height: 20px;
    border:3px solid #002133;
    border-radius: 50%;
    transform: translateY(3px);
}

input[type="radio"]:before{
    content:'';
    display:block;
    width: 70%;
    height: 70%;
    margin:15% auto;
    border-radius: 50%;

}
input[type="radio"]:checked:before{
    background-color: #002133;
}

.radio{
    display:flex;
} 

textArea{
    margin-top: -20px;
    background-color: rgba(199, 238, 255,0.5);
    resize: none;
    color:#002133;
    border: none;
    width: 100%;
    padding: 16px 8px 16px 16px;
    border-radius: 8px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}
label{
    display:block;
    font-weight: 500;
    margin-bottom:8px;
}
.File-upload-button{
    display: flex;
    width: fit-content;
    background-color: #59E34E;
    padding: 6px 30px;
    border-radius: 8px;
    margin: auto;
}
.navigate_buttons,.navigate_buttons_previous{
    all: unset;
    font-family: outfit; 
    color: #fafafa;
    margin: 0px 5px 30px 5px ;
    padding:7px 15px 7px 15px;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 129, 238, 1),rgba(0, 74, 136, 1));
    opacity: 1;
    background: linear-gradient(109deg, rgba(1, 119, 193, 0.7) -3%, rgba(0, 102, 165, 0.9) 48%, #004B79 103%);
    text-align: center;
    font-size: clamp(8px,3vw,16px);
}
textarea::placeholder{
    padding: 5px;
}

.radio-spacing{
    width:65%; 
} 
.registration_form_buttons{
    margin-top: 30px;
    margin-right: 100px;
    display: flex;
    justify-content: end;

}


input[type="radio"]{
    appearance: none;
    width:20px;
    height: 20px;
    border:3px solid #002133;
    border-radius: 50%;
    transform: translateY(3px);
 }

 .sslc,.hsc_1_Year,.hsc_2_Year,.diploma{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

.first_name,.last_name,.date_Of_Birth,.gender,.fathers_name,
.fathers_occupation,.fathers_mobile_number,.mothers_name,.mothers_occupation,
.mothers_mobile_number,.guardians_name,.guardians_occupation,.guardians_mobile_number,
.marital_status,.community_certificate,.profile-photo,.fasttrack,.student_status,.discipline{
    grid-column: span 4;
}
.flowofstudy,.course_type{
    grid-column: span 6;
}

.aadhar_number,.blood_group,.nationality,.religion,
.programme,.semester,.student_status{
    grid-column: span 2;
}
.cgpa{
    grid-column: span 1;
}
.community,.caste,.income,.parents_status,.mobile_no,.mail_id,.communication_address,.residential_address,.hosteller,.hostel_type,
.bank_name,.branch_Name,.account_Number,.ifsc_Code,.passbook,.sslc,.hsc_1_Year,.hsc_2_Year,.diploma,.first_graduate,.special_category,
.emis_Number,.first_graduate_file,.specialCategory_file,.regulation,.batch,.date_of_admission,.join_date,.admission_no,
.abc_id,.umis_id{
 
    grid-column: span 3;
}
.sslc,.hsc_1_Year,.hsc_2_Year,.diploma{
    grid-row: span 2;
}
.communication_address,.residential_address{
    grid-row: span 2;
}
.marksheet_label{
    font-weight: 500;
}
.community_certificate,.profile-photo,.first_graduate_file,.specialCategory_file,.passbook{
 margin-top: -30px;
}

#navigate_buttons_previous_communication_bank,#navigate_buttons_next_communication_bank,#navigate_buttons_previous_educational,#navigate_buttons_next_educational,
#navigate_buttons_previous_academic,#form_submit_button{
    grid-row-start:5 ;
   
}




@media (width<=768px) {

 
}
@media (width<=425px) {

    
.first_name,.last_name,.date_Of_Birth,.gender,.fathers_name,
.fathers_occupation,.fathers_mobile_number,.mothers_name,.mothers_occupation,
.mothers_mobile_number,.guardians_name,.guardians_occupation,.guardians_mobile_number,.programme,
.marital_status,.community_certificate,.profile-photo,.fasttrack,.student_status,.discipline,.flowofstudy,.course_type,.student_status,.mobile_no,.mail_id,.communication_address,.residential_address,.hosteller,.hostel_type,
.bank_name,.branch_Name,.account_Number,.ifsc_Code,.passbook,.sslc,.hsc_1_Year,.hsc_2_Year,.diploma,.first_graduate,.special_category,
.emis_Number,.first_graduate_file,.specialCategory_file,.date_of_admission,.join_date,.admission_no,
.abc_id,.umis_id{
    grid-column: span 12;
}
.aadhar_number,.blood_group,.nationality,.religion,.community,.caste,.income,.parents_status,.regulation,.batch,.semester,.cgpa
{
    grid-column: span 6;
}
.registration_form_buttons{
    margin-right: 0;
    margin-bottom: 30px;
    justify-content: center;

}

}
