
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-content{
    position: static;
    top:0;
    left:0;

}
.catagory{
    color: #59E34E;
}

    .marksheet_label{
        margin-top: 30px;
        margin-bottom: 15px;
    }

.personal-data,.communication-data,.bank-data,.educational-data,.academic-data{
    padding: 0px 100px;
    gap:20px;
    grid-row-gap: 35px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}


.uploaded_file_name{
    margin-left: 30px;
    color: #1D242C;
}
.community-dropdown,.parential-dropdown,.discipline-dropdown,.programme-dropdown{
    border: none;
    background-color: rgba(199, 238, 255,0.5);
    height: 40px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}

input[type="date"]
{
    /* background: url('../../Assets/calendar.svg') no-repeat ; */
    /* background-position: 250px; */
    background-size: 25px 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: rgba(199, 238, 255,0.5);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0px 30px 0px 20px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
    
}
input[type="radio"]{
   width:20px;
   height: 20px;
   border:3px solid #002133;
   border-radius: 50%;
   transform: translateY(3px);
}

input[type="radio"]:before{
   content:'';
   display:block;
   width: 70%;
   height: 70%;
   margin:15% auto;
   border-radius: 50%;
   
}
input[type="radio"]:checked:before{
    background-color: #002133;
}

.radio{
    display:flex;
} 

textArea{
    margin-top: -20px;
    background-color: rgba(199, 238, 255,0.5);
    resize: none;
    color:#002133;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}
label{
    display:block;
    margin-bottom:8px;
}
.File-upload-button{
    display: flex;
    width: fit-content;
    background-color: #59E34E;
    padding: 6px 30px;
    border-radius: 8px;
    margin: auto;

}
.navigate_buttons,.navigate_buttons_previous{
    all: unset;
    font-family: outfit; 
    color: #fafafa;
    margin: 0px 5px 30px 5px ;
    padding:7px 15px 7px 15px;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 129, 238, 1),rgba(0, 74, 136, 1));
    opacity: 1;
    background: linear-gradient(109deg, rgba(1, 119, 193, 0.7) -3%, rgba(0, 102, 165, 0.9) 48%, #004B79 103%);
    text-align: center;
}
.navigate_buttons:hover{
    cursor: pointer;
}

.photo{
    width:15%;
    height:35%;
    margin-left:20%;
}

#registration-seperator{
    height: 3px;
    margin: 3%;
    background-color: #002133;
  
}
textarea::placeholder{
    padding: 5px;
    
   
}


.personal-form-buttons{

    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    grid-column: span 12;

}

#navigate_button_next_personal{
    grid-column-start: 11;
        grid-row-start: 8;
    grid-column-end: span 2;
}
#navigate_buttons_previous_communication,#navigate_buttons_previous_bank,#navigate_buttons_previous_educational,#navigate_buttons_previous_academic {
    grid-column-start: 9;
    grid-row-start: 5;
    grid-column-end: span 2;
}

#navigate_buttons_next_communication,#navigate_buttons_next_bank,#navigate_buttons_next_educational{
    grid-column-start: 11;
        grid-row-start: 5;
    grid-column-end: span 2;
}
.first_name,.last_name,.date_Of_Birth,.fathers_Name,.fathers_Occupation,.fathers_Mobile_Number,.Mothers_Mobile_Number,.mothers_Occupation,.mothers_Name,.guardians_occupation,.guardians_name,.guardians_mobile_number,.income,.marital_status,.parents_status,.emis_Number,.first_graduate,.special_category{
    grid-column:span 4;
}
.gender,.aadhar_number,.communication_address,.residential_address,.hosteller,.hostel_type,.bank_name,.branch_Name,.account_Number,.ifsc_Code{
    grid-column:span 6;
}
.profile_photo,#registration-seperator{
    grid-column:span 12;
}

.nationality,.religion,.community,.caste,.sslc,.hsc_1_Year,.hsc_2_Year,.diploma,.field{
    grid-column:span 3;
}

.mobile_no{
    grid-column:span 4;
}
.mail_id{
    grid-column:span 8;
}
.discipline-dropdown{
    grid-column:span 8;
}


@media (width<=921px) {

    .first_name,.last_name,.date_Of_Birth,.fathers_Name,.fathers_Occupation,.fathers_Mobile_Number,.Mothers_Mobile_Number,.mothers_Occupation,.mothers_Name,.guardians_occupation,.guardians_name,.guardians_mobile_number,.income,.marital_status,.parents_status,.emis_Number,.first_graduate,.special_category{
        grid-column:span 4;
    }
    .nationality,.religion,.community,.caste,.sslc,.hsc_1_Year,.hsc_2_Year,.diploma,.field{
        grid-column:span 6;
    }
    /* .personal-form-buttons{
        grid-column: 1/1;
    } */
}

@media (width<=680px) {

    .first_name,.last_name,.date_Of_Birth,.fathers_Name,.fathers_Occupation,.fathers_Mobile_Number,.Mothers_Mobile_Number,.mothers_Occupation,.mothers_Name,.guardians_occupation,.guardians_name,.guardians_mobile_number,.income,.marital_status,.parents_status,.emis_Number,.first_graduate,.special_category{
        grid-column:span 6;
    }
    /* .personal-form-buttons{
        grid-column: 1/1;
    } */
}



@media (width<=590px) {

    .first_name,.last_name,.date_Of_Birth,.fathers_Name,.fathers_Occupation,.fathers_Mobile_Number,.Mothers_Mobile_Number,.mothers_Occupation,.mothers_Name,.guardians_occupation,.guardians_name,.guardians_mobile_number,.parents_status,.emis_Number,.first_graduate,.special_category{
        grid-column:span 12;
    }
    .gender,.aadhar_number,.communication_address,.residential_address,.hosteller,.hostel_type,.bank_name,.branch_Name,.account_Number,.ifsc_Code{
        grid-column:span 12;
    }
    .nationality,.religion,.community,.caste,.sslc,.hsc_1_Year,.hsc_2_Year,.diploma,.field,.income,.marital_status{
        grid-column:span 6;
    }
    .mobile_no{
        grid-column:span 12;
       
    }
    .mail_id{
        grid-column:span 12;
    }

}
@media (width<=450px) {
    .sslc,.hsc_1_Year,.hsc_2_Year,.diploma{
        grid-column:span 12;
    }
   
  
}







.academic-data{
    display: grid;
    margin-top: 35px;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    grid-row-gap: 35px;
    justify-content: center;
    align-items: center;

}
.aca-year,.reg-no,.programme,.discipline,.adm-no,.abc-id,.umis-id,.course-type,.fasttrack{
    grid-column:span 2;
}
.sem,.date-of-adm,.regulation,.join-date,.cgpa,.student-status{
    grid-column: span 1;
}

.radio-spacing{
    width:65%; 
    /* margin: 10px; */
} 
.academic-buttons{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-end;

}

input[type="radio"]{
    appearance: none;
    width:20px;
    height: 20px;
    border:3px solid #002133;
    border-radius: 50%;
    transform: translateY(3px);
 }
 .create-passwors-form{
    
    width: 300px;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    
    
}
 
.create_password_fields{
    width: 100%;    
    margin-top: 15px;
    margin-bottom: 15px;

}
.create_password_fields::placeholder{
    color: #002133;
}
.password_crate_button{
    float: right;
}

.login-popup{

    /* margin-left: 350px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 400px;
    padding: 15px;
    height: fit-content;
    border-radius: 30px;
    opacity: 1;
    background: rgba(92, 146, 190, 0.47);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(3.6px);
}
.create-password-title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

 @media (width<=980px) {
    
.academic-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    gap: 20px;

}
    .reg-no,.programme,.discipline,.adm-no,.regulation,.abc-id,.umis-id,.course-type,.fasttrack{
        grid-column:span 1;
    }
    .aca-year,.sem,.date-of-adm,.join-date,.cgpa,.student-status{
        grid-column: span 1;
    }
    
}
 @media (width<=790px) {
    
.academic-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}
.reg-no,.programme,.discipline,.abc-id,.umis-id,.course-type,.fasttrack{
        grid-column:span 2;
}
.aca-year,.sem,.date-of-adm,.regulation,.join-date,.adm-no,.cgpa,.student-status{
        grid-column: span 1;
}

}