
*{
    margin: 0;
    padding: 0;
}

.form-content{
    position: static;
    top:0;
    left:0;

}

.links{
    /* background-color: #000; */
    align-items: center;
    display: flex;
    margin-bottom:20px ;
}

.forms{
    border: none;
    height: 45px;
    width:35%;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    color: rgb(199, 238, 255);
    font-size: 20px;
    background: linear-gradient(to  right,rgb(0, 131, 213),rgb(1, 61, 96));
    
}

.registration1-levels{
    display: flex;
    margin: 15px;
}
.upload-files{
    margin: 10px;
}

.field{
    flex:1;
    border: none;
    /* flex-direction: row; */
    margin-left: 10px;
    margin-right:10px;
    border-radius: 8px;
    font-size: 18px;
}


input[type="text"]{
    background-color:rgba(199, 238, 255, 0.5);
    height: 40px;
    width:100%;
    padding: 20px;
    border-radius: 8px;
    border:none;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);

}
input[type="date"]
{
    background: url('../../Assets/calendar.svg') no-repeat ;
    background-size: 25px 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: rgba(199, 238, 255,0.5);
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding: 0px 30px 0px 20px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
    
}

.radio{
    display:flex;
} 

.radio-spacing{
    width:30%; 
}

input[type="radio"]{
   /* appearance: none; */
   width:20px;
   height: 20px;
   border:3px solid #002133;
   border-radius: 50%;
   /* outline:none; */
   transform: translateY(3px);
}

input[type="radio"]:before{
   content:'';
   display:block;
   width: 70%;
   height: 70%;
   margin:15% auto;
   border-radius: 50%;
   
}
input[type="radio"]:checked:before{
    background-color: #002133;
}

textArea{
    background-color: rgba(199, 238, 255,0.5);
    color:#002133;
    border: none;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}
label{
    display:block;
    margin-bottom: 0.5em;
}
.profilephoto{
    display: flex;
    margin-top: 2%;
}
.getphoto{
    margin: auto;
}
.photo{
    width:15%;
    height:35%;
    margin-left:20%;
}
.regbackground{
    margin-left:6%;
    margin-right:6%;
}
#registration-seperator{
    height: 3px;
    margin: 3%;
    background-color: #002133;
  
}


#mobilenumber{
    width: 70%;
}
#mailid{
    width: 100%;
}
.mailid{
    margin-left: -15%;
}
textarea::placeholder{
    padding: 10px;
    
   
}
.bankdetails-container{
    display: flex;
   
}
/* .educational-document{
    display: flex;
    flex: 1;

   
} */
.personal-form-buttons{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.community-dropdown,.parential-dropdown{
    border: none;
    background-color: rgba(199, 238, 255,0.5);
    height: 40px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    box-shadow: 4px 7px 14px -11px rgba(0,33,51,1);
}
