.All-button{
    font-family: outfit;
    font-weight: 500;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #fafafa;
    /* width: clamp(30px,5vw,120px); */
    margin: 10px 5px 0px 5px ;
    border: none;
    padding:7px 20px 7px 15px;
    border-radius: 8px;
    opacity: 1;
    background: linear-gradient(109deg, rgba(1, 119, 193, 0.7) -3%, rgba(0, 102, 165, 0.9) 48%, #004B79 103%);

}
.All-button:hover{
    cursor: pointer;
}
.icon{
    width: 20px;
    margin-right: 7px;
}