
.form-content{
    background-color: #fff;
}
.form-content:hover{
    cursor: default;
}
.form-title{
    text-align: center;
    margin: 15px 0px 10px 0px;

}
.registration-navigation{
    display: flex;
    position: sticky;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}
.navigate-icon{
   width: 120px;
   
   
}
.line-to{
    width: 350px;
    height: 3px;
    margin-top: 30px;
    border-radius: 10px;
    background-color:#002133;
    /* opacity: 30%; */
}
