footer{
    font-family: poppins;
    font-size: small;
    height: fit-content;
    background: linear-gradient(98deg, #0177C1 -8%, #004B79 76%);
    color: #ebf8ff;
    border-radius:10px 10px 0px 0px ;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    right: 0;
}
footer:hover{
    cursor: default;
}
.content{
    padding:20px 30px;
}
.clg-address{
    margin-left: 20px;

}
.clg-contact{
    margin-left: 20px;

}