header{
display: flex;
margin: 10px;
}
header:hover{
    cursor: default;
}
#header-line{
    background-color: #002133;
    width: 96%;
    height: 2px;
    margin: auto;
}
.clg-name{
    text-align: center;
    font-family: outfit,popins;
    color: #002133;
    margin: auto;
}
.clglogo{
    width: 110px;   
}

/* .clgdes{
    
    margin-left: 180px;
} */
@media (width<=600px) {
    .clglogo{
        width: 90px;   
    }
    .clg-name{
        font-size:x-small;
    }
}
