.academic-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    gap: 20px;

}
 .reg-no,.programme,.discipline,.regulation,.adm-no,.abc-id,.umis-id,.course-type,.fasttrack{
    grid-column:span 2;
}
.aca-year,.sem,.date-of-adm,.join-date,.cgpa,.student-status{
    grid-column: span 1;
}

.radio-spacing{
    width:65%; 
    /* margin: 10px; */
} 
.academic-buttons{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;

}

input[type="radio"]{
    appearance: none;
    width:20px;
    height: 20px;
    border:3px solid #002133;
    border-radius: 50%;
    transform: translateY(3px);
 }
 .create-passwors-form{
    
    width: 300px;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    
    
}
 
.create_password_fields{
    width: 100%;    
    margin-top: 15px;
    margin-bottom: 15px;

}
.create_password_fields::placeholder{
    color: #002133;
}
.password_crate_button{
    float: right;
}

.login-popup{

    /* margin-left: 350px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 400px;
    padding: 15px;
    height: fit-content;
    border-radius: 30px;
    opacity: 1;
    background: rgba(92, 146, 190, 0.47);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(3.6px);
}
.create-password-title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

 @media (width<=980px) {
    
.academic-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    gap: 20px;

}
    .reg-no,.programme,.discipline,.adm-no,.regulation,.abc-id,.umis-id,.course-type,.fasttrack{
        grid-column:span 1;
    }
    .aca-year,.sem,.date-of-adm,.join-date,.cgpa,.student-status{
        grid-column: span 1;
    }
    
}
 @media (width<=790px) {
    
.academic-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}
.reg-no,.programme,.discipline,.abc-id,.umis-id,.course-type,.fasttrack{
        grid-column:span 2;
}
.aca-year,.sem,.date-of-adm,.regulation,.join-date,.adm-no,.cgpa,.student-status{
        grid-column: span 1;
}

}